<h1>Add a vendor</h1>

<form action="/vendors" method="post">
  <label for="name">vendor name</label>
  <input id="name" name="name" type="text">
  <label for="description">vendor description</label>
  <input id="description" name="description" type="text">
  <button type="submit">Add</button>
</form>

<p><a href='/'>Back home</a></p> <br>
<p><a href='/vendors'>Back to vendors.</a></p>