<h1>Add a new item to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">

  <label for="price">Order Price</label>
  <input id="price" name="price" type="number">

  <label for="title">Item Title</label>
  <input id="title" name="title" type="text">

  <label for="date">Order Date</label>
  <input id="date" name="date" type="text">

  <label for="description">order Description</label>
  <input id="description" name="description" type="text">
  <button type='submit'>Add Item</button>
</form>